<div>
  <%= flash[:notice] %>
</div>

  <p class=showtext><strong>Title:</strong><%= @book.title %></p>
  <p class=showtext><strong>Body:</strong><%= @book.body %></p>

<%= link_to "Edit", edit_book_path(@book.id) %>
|
<%= link_to "Back", :books %>